.item {
    color: rgb(0, 0, 0);
}

.done {
    color: #928f8f;
}

.item{
   
    list-style-type: none;
 }
 .span span[role=button]{ 
    padding: 15px;
    display: inline-block;
    line-height: 20px;

 }